#cs1300-gallery {
  background-color: lightblue;
}

.gallery-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 200px;
  margin: 0 auto;
}

img:hover {
  transform: scale(1.1);
  border: red 2px solid;
}
